$primary-1: #DFFBFF;
$secondary-1: #428B95;
$secondary-2: #7CC3CD;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  // background-color: aquamarine;
}

body, input, button, select, textarea {
  font: 600 1rem 'Poppins', sans-serif;
  color: #222222;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
}

.settings_bar {
  position: absolute;
  top: 16px;
  right: 48px;
}

.quick_actions_div {
  display: flex;
  justify-content: center;
  // background-color: #7CC3CD;
  margin-top: 155px;
  height: 6rem;
}

.quick_actions {
  margin: 10px;
  background-color: $primary-1;
  width: 14rem;
  height: 5rem;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
  color: #222222;

  span {
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
}

#top-user-icon {
  width: 36px;
  height: 36px;
}

.time_box {
  display: grid;
  grid-template-areas: 'Time 1 Time 2' 'Timezone 1 Timezone 2';
  grid-column-gap: 24px;
  position: absolute;
  top: 72px;
  right: 48px;
  // padding: 24px;
  text-align: center;

  :nth-child(1) {
    grid-area: Time 1;
  }

  :nth-child(2) {
    grid-area: Timezone 1;
  }

  :nth-child(3) {
    grid-area: Time 2;
  }

  :nth-child(4) {
    grid-area: Timezone 2;
  }
}

.welcome-heading {
  position: absolute;
  top: 72px;
  text-align: start;
  margin: 16px;
}
