* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body, input, button, select, textarea {
  font: 600 1rem 'Poppins', sans-serif;
  color: #222222;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
}

.settings_bar {
  position: absolute;
  top: 16px;
  right: 48px;
}

.quick_actions_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quick_actions {
  margin: 5px;
  background-color: #DFFBFF;
  width: 12rem;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none !important;
  color: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
}

.quick_actions span {
  font-size: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#top-user-icon {
  width: 36px;
  height: 36px;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-popover .popover-body {
  padding: 0;
}

.custom-popover .pop-link {
  text-decoration: none;
  color: #222222;
  font-size: 16px;
  padding: 10px;
}

.custom-popover .pop-link:hover {
  background: #428B95;
  color: white;
}
.c-box{
  height: 100px;
}
